<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/">
      <img
        src="/images/train.png"
        alt=""
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      Ticketac
    </a>
    <div>
      <div class="navbar-nav">
        <% 
          let connect = session ? "Sign out" : ""; %>
        <% if (connect === "Sign out") { %>  
        <a href="/sign-out" class="nav-link fw-bold">
          <%= connect %>
        </a>
        <% } %>
        <a class="nav-link fw-bold">My last trips</a>
      </div>
    </div>
  </div>
</nav>
