<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/">
      <img
        src="/images/train.png"
        alt=""
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      Ticketac
    </a>
    <div>
      <div class="navbar-nav">
        <% if (session) { %>
          <a href="/my-journeys" class="nav-link fw-bold">My last trips</a>
          <% } %>
        <% 
          let connect = session ? "Sign out" : ""; %>
        <% if (connect === "Sign out") { %>  
        <a href="/sign-out" class="nav-link fw-bold">
          <%= connect %> <i class="fas fa-sign-out-alt"></i>
        </a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
<script src="https://kit.fontawesome.com/e7fc5f269c.js" crossorigin="anonymous"></script>
